[submodule "modules/columnflow"]
	path = modules/columnflow
	url = git@github.com:columnflow/columnflow.git
	branch = master
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = git@github.com:uhh-cms/cmsdb.git
	branch = master
[submodule "modules/extern/pybind11"]
	path = modules/extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
